.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  max-width: 500px;
  max-height: 500px;
  border: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 1em;
}

.loading-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 1;
  animation: fade 1s linear infinite;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.score {
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  background-color: var(--background-secondary);
}

.question {
  text-align: center;
  margin-bottom: 1.5em;
  padding: 1.5em;
}

.response {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.toast {
  text-align: center;
  padding: 1em;
  background-color: var(--background-secondary);
  font-weight: 700;
}

.toast-correct {
  background-color: #aeffae;
  color: #446f44;
}

.toast-wrong {
  background-color: #ffaeae;
  color: #7d3c3c;
}
