.start-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.panel {
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
}

.invite {
  margin-bottom: 1em;
}
